
<div class="d-flex flex-column align-items-center justify-content-center">
<div>
    <h1>Edit Article</h1>
</div>
<div class="row">
    <%= render "form", article: @article %>

</div>
<div class="mt-2">
<%= link_to "Back", articles_path, class: 'btn btn-danger' %>

</div>
<div>

